<h1>id:<%= @task.id %>のタスク編集</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'task' %>
  <%= f.text_field :content %>
  <%= f.submit '編集' %>
<% end %>

<br>

<%= link_to 'back to index', tasks_path %>